@font-face {
    font-family: "open sans";
    font-style: normal;
    font-weight: 400;
    src: local("open sans"),
        url("../fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
    font-family: "open sans";
    font-style: normal;
    font-weight: 700;
    src: local("open sans bold"),
        url("../fonts/OpenSans-Bold.woff") format("woff");
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    display: flex;

    margin-top: 64px;
    margin-left: 20px;
}



.header {
    position: relative;
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    z-index: 0;

    padding-bottom: 146px;
}

.header:after {
    content: "";
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    min-width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.container-header {
    max-width: 1200px;
    margin: 0 auto 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 27px;
}

.title {
    position: relative;

    color: white;
    z-index: 2;

    font-family: "open sans", sans-serif, arial;
    font-size: 45px;
    font-weight: bold;
    line-height: 75px;
    text-transform: uppercase;

    width: 700px;
    text-align: center;
    margin: 80px auto auto auto;

    top: 21px;
    left: 9px;
}

.logo {
    position: relative;
    width: 179px;
    z-index: 2;

    margin-left: 25px;
}

.menu-list {
    color: white;
    z-index: 2;
    position: relative;

    font-family: "open sans", sans-serif, arial;
    font-size: 13px;
    text-transform: uppercase;

    display: flex;
    gap: 35px;

    right: 8px;
}

.hamburger {
    display: none;
}

a.menu-item {
    color: white;
    text-decoration: none;
}

a.menu-item:hover {
    text-decoration: underline;
    text-shadow: white 0 0;
}

.title-main {
    font-family: "open sans", sans-serif, arial;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    text-transform: uppercase;

    text-align: center;

    margin-top: 58px;
    margin-bottom: 25px;
    margin-left: 15px;
}

.title-main:after {
    content: "";

    width: 66px;
    height: 3px;
    background-color: #e1d9bd;

    display: block;

    margin-left: auto;
    margin-right: auto;

    margin-top: 10px;
}


.trends {
    display: flex;
    gap: 4px;

    font-size: 10px;
}

.card-trend {
    position: relative;
    width: 24.7%;

    height: 305px;

    display: flex;

    font-size: 10px;

    padding-right: 2.3em;
    padding-bottom: 1.6em;
    padding-left: 2.3em;
}


.card-trend::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);

    z-index: 1;
}

.card-trend-garden {
    background-image: url("../images/trend1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-trend-cheese {
    background-image: url("../images/trend2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-trend-mountain {
    background-image: url("../images/trend3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-trend-lemon {
    background-image: url("../images/trend4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-trend-content {
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;

    border: 3px solid #b59f5b;

    margin-top: auto;

    padding: 3.2em 3.4em 3.3em 2.9em;

    z-index: 2;

    position: relative;
}

.trend-category-box {
    display: flex;
    width: 100%;

    gap: 20px;
}

.trend-category {
    font-family: "open sans", sans-serif, arial;
    font-size: 14px;
    font-weight: bold;
    line-height: 29px;
    text-transform: uppercase;

    color: #b59f5b;
}

.trend-category:hover {
    text-decoration: underline;
    text-shadow: #b59f5b 0 0;
}

.trend-title {
    font-family: "open sans", sans-serif, arial;
    font-size: 2em;
    font-weight: bold;
    line-height: 25px;
    text-transform: uppercase;

    color: white;
}

.trend-title:hover {
    color: #b59f5b;
}

.page-news {
    max-width: 898px;
    margin: 0 0 0 auto;

    display: flex;
    flex-wrap: wrap;
}



.frame {
    margin-top: -13px;
    padding-left: 30px;
    max-width: 367px;
}

.post {
    position: relative;

    display: flex;

    box-sizing: border-box;

    margin-bottom: 57px;
}

.picture {
    max-width: 381px;
}

.category {
    display: flex;


    font-family: "open sans", sans-serif, arial;
    font-size: 14px;
    font-weight: bold;
    line-height: 35px;
    text-transform: uppercase;
}

.category-element {
    padding-right: 20px;
    color: #b59f5b;
}

.category-element:hover {
    text-decoration: underline;
    text-shadow: #b59f5b 0 0;
}

.title-post {
    font-family: "open sans", sans-serif, arial;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
}


.title-post:hover {
    color: #b59f5b;
}

.date-author {
    display: flex;
    gap: 11px;

    margin-bottom: 16px;

    line-height: 75px;
}

.date {
    font-family: "open sans", sans-serif, arial;
    font-size: 12px;
    font-weight: normal;

    color: #888888;
}

.date-aside {
    font-family: "open sans", sans-serif, arial;
    font-size: 12px;
    font-weight: normal;


    color: #888888;
}

.author {
    font-family: "open sans", sans-serif, arial;
    font-size: 12px;
    font-weight: bold;
}

.post-text {
    font-family: "open sans", sans-serif, arial;
    font-size: 15px;
    line-height: 22px;
    font-weight: normal;
}

.post-text-second {
    padding-top: 9px;
}

.side-bar {
    width: 272px;
    margin: 0 auto 0 0;
}

.title-side {
    position: relative;

    display: flex;
    align-items: center;
}

.title-side-h3 {
    margin: 0 auto 0 auto;

    font-family: "open sans", sans-serif, arial;
    font-size: 14px;
    font-weight: bold;

    text-transform: uppercase;

    text-align: center;

    line-height: 10px;

    padding-left: 5px;
}

.title-side-h3:after {
    content: "";

    width: 66px;
    height: 3px;
    background-color: #e1d9bd;

    display: block;

    margin-left: auto;
    margin-right: auto;

    margin-top: 14px;
}

.post-list {
    display: flex;

    flex-wrap: wrap;

    margin-top: 30px;
}

.post-aside {
    display: flex;
    position: relative;

    line-height: 11px;
    padding-bottom: 22px;


}

.aside-post-text {
    padding-left: 19px;
}

.side-post-h3 {
    padding-top: 3px;

    font-family: "open sans", sans-serif, arial;
    font-size: 14px;
    font-weight: bold;

    line-height: 18px;
    text-transform: uppercase;
}

.post-aside-pic {
    width: 70px;
}

.search {
    display: flex;

    border-bottom: 1px solid #fbfcfc;

    margin-top: 36px;
}

.search:focus {
    border-bottom: 1px solid #ebe7d7;
}

.field {
    box-sizing: border-box;
    width: 269px;
    height: 48px;
    border-style: none;
    border: 0 solid;

    display: inline-block;

    font-family: "open sans", sans-serif, arial;
    font-size: 13px;
    font-weight: normal;

    padding-left: 17.5px;
    background-color: #f4f7f6;
}

.field:focus:hover:active {
    border: 1px solid #b59f5b;
}

.search-button {
    box-sizing: content-box;

    background: url("../svg/search.svg");
    background-color: #b59f5b;
    background-size: 18px;
    background-position: center center;
    background-repeat: no-repeat;


    width: 46px;
    height: 46px;

    border: none;

    cursor: pointer;
}

.search-button:hover {
    background-color: #323232;
}

.title-side-subscribe {
    margin-top: 60px;

    position: relative;

    display: flex;
    align-items: center;

    padding-right: 8px;
}

.subscription {
    display: flex;

    border-bottom: 1px solid #fbfcfc;

    margin-top: 23px;
}

.subscription:focus {
    border-bottom: 1px solid #ebe7d7;
}

.sub-button {
    margin-top: 16.5px;

    height: 49px;
    width: 269px;

    background-color: #b59f5b;

    font-family: "open sans", sans-serif, arial;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;

    border: none;
    cursor: pointer;
}

.sub-button:hover {
    background-color: #323232;
}



.title-side-tags {
    margin-top: 61px;

    position: relative;

    display: flex;
    align-items: center;
}

.tags-list {
    margin-top: 25px;
    margin-left: 1px;

    display: flex;
    flex-wrap: wrap;

    gap: 6px;
}

.tag {
    box-sizing: border-box;

    padding: 5px 16px 7px 12px;
    border: 3px solid #eeeeee;

    font-family: "open sans", sans-serif, arial;
    font-size: 12px;
    font-weight: bold;

    text-transform: uppercase;
    cursor: pointer;


}

.tag:hover {
    border: 3px solid #b59f5b;
}

.categories {
    margin-top: 59px;

    position: relative;

    display: flex;
    align-items: center;
}

.categories-list {
    margin-top: 8px;
}

.category-aside-link {
    display: block;

    border-bottom: 1px solid #eeeeee;
}

.category-aside {
    font-family: "open sans", sans-serif, arial;
    font-size: 14px;
    font-weight: bold;

    text-transform: none;


    line-height: 44px;

}

.category-aside:hover {
    color: #b59f5b;
}

.degree {
    color: #c5b585;

    font-size: 12px;

    margin-left: 5px;

    font-family: "open sans", sans-serif, arial;

    vertical-align: 4px;
}

.shop {
    max-width: 1170px;

    margin: 0 auto;
}

.title-main-shop {
    margin-top: 0;

}

.pic-shop {
    z-index: 0;
}

.shop-container {
    display: flex;
    justify-content: flex-start;

    flex-wrap: wrap;

    margin-bottom: 58px;

    position: relative;

    gap: 90px;
}

.card-shop {
    box-sizing: border-box;
    width: 25%;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    margin-left: 30px;
}

.card-shop-content {
    outline: 3px solid #e1d9bd;

    outline-offset: 20px;

    z-index: 1;

    position: relative;

    height: 191px;

    margin-top: 15px;

    left: 2px;

    top: -30px;
    padding-top: 30px;
}

.title-shop-h3 {
    font-family: "open sans", sans-serif, arial;
    font-size: 20px;
    font-weight: bold;

    line-height: 24px;

    text-transform: uppercase;
}

.shop-text {
    font-family: "open sans", sans-serif, arial;
    font-size: 15px;
    font-weight: normal;


    line-height: 25px;
}

.price-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-top: 20px;
    gap: 110px;
}



.old-price {
    font-family: "open sans", sans-serif, arial;
    font-size: 14px;
    font-weight: bold;
    text-decoration: line-through;

    white-space: nowrap;
}

.new-price {
    font-family: "open sans", sans-serif, arial;
    font-size: 20px;
    font-weight: bold;

    white-space: nowrap;
}

.buy {
    box-sizing: content-box;

    background-color: #b59f5b;

    width: 127px;
    height: 48px;

    border: none;

    cursor: pointer;

    color: white;
    font-family: "open sans", sans-serif, arial;
    font-size: 14px;
    font-weight: bold;

    text-transform: uppercase;
}

.buy:hover {
    background-color: #323232;
}

.shop-text-link {
    color: #b59f5b;
}

.shop-text-link:hover {
    text-decoration: underline;
}

.container-footer {
    display: flex;

    width: 1170px;

    padding: 32px 0 32px 21px;

    background-color: #f4f7f6;

    background-position: center bottom;

    margin: 0 auto 0 auto;

    justify-content: center;

    gap: 27px;
}

.footer-social {
    content: "";

    width: 20px;
    height: 20px;
}

.footer-social-dribbble {
    width: inherit;
    height: inherit;

    background: url("../svg/001-dribbble.svg")
}

.footer-social-pinterest {
    width: inherit;
    height: inherit;

    background: url("../svg/002-pinterest.svg")
}

.footer-social-tumblr {
    width: inherit;
    height: inherit;

    background: url("../svg/003-tumblr.svg")
}

.copyright {
    font-family: "open sans", sans-serif, arial;
    font-size: 12px;
    font-weight: bold;

    color: #999999;

    margin: 70px 0 40px 28px;

    text-align: center;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;

    z-index: 3;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 390px;
    background-color: #fff;
    padding: 50px 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;

    font-size: 10px;
}

.popup-title {
    font-family: "open sans", sans-serif, arial;
    font-size: 2em;
    font-weight: bold;
    line-height: 29px;
    text-transform: uppercase;
}

.popup-title:after {
    content: "";

    width: 66px;
    height: 3px;
    background-color: #e1d9bd;

    display: block;

    margin-left: auto;
    margin-right: auto;

    margin-top: 10px;
}


.dropdown {
    margin-top: 30px;
    text-align: left;

    display: flex;
    flex-wrap: wrap;



}

.question {
    text-align: left;
    width: 100%;

    font-family: "open sans", sans-serif, arial;
    font-size: 13px;
}

.fieldset {
    text-align: left;
    width: 100%;

    font-family: "open sans", sans-serif, arial;
    font-size: 13px;

    position: relative;
}

.dropdown select {
    border: 1px solid #f4f7f6;
    color: #333;
    padding: 18px;
    font-size: 13px;
    cursor: pointer;

    width: 100%;

    margin-top: 10px;

    background: #f4f7f6 url("../svg/form-arrows.svg");
    background-position: 360px center;
    background-repeat: no-repeat;

    background-size: 10px;
    padding-right: 14px;

    appearance: none;
    -webkit-appearance: none;
}

.dropdown select:focus {
    border: 1px solid #b59f5b;
}


.radio-container {
    margin-top: 30px;
    display: flex;
    gap: 10px;

    flex-wrap: wrap;
}

.mail-sub {
    display: inline-block;
    margin-left: 0;

    font-size: 13px;
}



input[type="radio"] {

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 18px;
    height: 18px;

    border: 2px solid #b59f5b;
    border-radius: 50%;

    background-color: white;

    position: relative;
    top: 50%;
    left: 15%;
    transform: translate(-42%, 24%);

    font-family: "open sans", sans-serif, arial;
}

input[type="radio"]:checked:after {
    content: "";

    width: 12px;
    height: 12px;
    background-color: #b59f5b;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 50%;
}

.form {

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    margin-top: 10px;
    height: 130px;


    display: block;
    width: 100%;
    padding: 20px;
    border: 1px solid #f4f7f6;
    background-color: #f4f7f6;
    box-sizing: border-box;
    font-size: 13px;
    margin-bottom: 20px;

    font-family: "open sans", sans-serif, arial;

    resize: none;
}

.form:hover {
    border: 1px solid #b59f5b;
}

.popup-text {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.send {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    margin-top: 25px;

    height: 49px;
    width: 100%;

    background-color: #b59f5b;

    font-family: "open sans", sans-serif, arial;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;

    border: none;
    cursor: pointer;
}

.send:hover {
    background-color: #323232;
}

.close {
    position: absolute;
    content: "";

    width: 18px;
    height: 18px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background: url("../svg/form-x.svg");

    top: -3%;
    left: 98%;
    transform: translate(-50%, -50%);

    border: 0;

    cursor: pointer;

    font-size: 0;
}

@media (max-width: 1199px) {
    .menu-list {
        display: none;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 23px;
        height: 20px;
        cursor: pointer;
    }

    main {
        padding: 0 0 0 0;
    }

    .line {
        width: 100%;
        height: 3px;
        background-color: #ffffff;

        z-index: 2;
    }

    .frame {
        margin-top: 0;
        padding-left: 0;
    }

    .post {
        flex-wrap: wrap;
    }



    .date-author {
        margin-bottom: 0;
    }

    .side-bar {
        margin: 0 auto 0 0;
    }

    .picture {
        margin-right: 0;
    }

}

@media (min-width: 768px) and (max-width: 1199px) {

    .header {
        background-image: url("../images/banner-bg-tablet.jpg");
    }

    .container-header {
        max-width: 100%;
        margin: 0 4.5% 0 4.5%;
        padding-top: 40px;
    }

    .logo {
        width: 158px;

        margin-left: 0;
    }

    .title {
        font-size: 40px;
        line-height: 55px;

        top: 90px;
        padding-bottom: 56px;

        margin: 0 0 0 0;
        left: 54px;
    }

    .trends {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1px;
    }

    .card-trend {
        width: 44.4%;
        height: 235px;

        font-size: 9px;
    }

    .page-news {
        margin-left: 0;
        max-width: 59%;
    }

    .title-main {
        font-size: 18px;

        margin-top: 43px;
        margin-bottom: 15px;

        margin-left: 0;
    }

    .title-post {
        font-size: 17px;
    }

    .post {
        justify-content: start;
        margin-left: 14px;

        margin-bottom: 58px;
    }

    .post-text-second {
        padding-top: 11px;
    }

    .card-shop {
        margin-top: 0px;
        width: 44%;
        max-width: 292px;
        margin-left: 55px;
    }

    .card-shop:nth-child(2) {
        margin-left: 70px;
    }


    .card-shop:nth-child(3) {
        margin-top: 20px;
        margin-left: 57px;
    }

    .shop-container {
        gap: 0%;
        margin-bottom: 37px;
    }

    .shop-text {
        line-height: 23px;
    }

    .price-container {
        gap: 102px;
    }

    .card-shop-content {
        outline-offset: 20px;
        max-width: 293px;
    }

    .card-shop-content-third {
        height: 167px;
    }

    .container-footer {
        width: calc(100% - 70px);
        margin: 43px auto 0 auto;

        padding-left: 9px;
    }

    .picture {
        width: 100%;
        height: 302px;
        object-fit: fill;

        max-width: 100%;
    }

    .side-bar {
        max-width: 272px;
    }

    main {
        margin-top: 50px;
    }

    .title-main-shop {
        margin-left: 0px;
        margin-top: 5px;
        margin-bottom: 23px;
    }

    .title-shop-h3 {
        font-size: 17px;
    }

    .copyright {
        margin-top: 48px;
        margin-left: 13px;
    }
}




@media (max-width: 767px) {
    main {
        flex-wrap: wrap;
        justify-content: center;

        margin-left: 15px;
        margin-right: 15px;

        margin-top: 45px;
    }

    .header {
        background-image: url("../images/banner-mobile.jpg");
        background-position: center center;

        padding-bottom: 212px;
    }

    .container-header {
        max-width: 100%;
        margin: 0 4.1% 0 4.1%;

        align-items: unset;
    }

    .title {
        font-size: 26px;
        line-height: 36px;

        width: 79%;

        margin: 28px 10.5% 0 10.5%;

        top: 0;
        left: 3px;


    }

    .logo {
        width: 269px;

        margin-top: 200px;
    }

    .logo-link {
        margin-left: auto;
        margin-right: auto;
    }

    .hamburger {
        position: relative;
    }

    .title-main {
        margin-top: 35px;
        margin-bottom: 24px;

        font-size: 16px;
        margin-left: 0;
    }

    .title-main:after {
        margin-top: 5px;
    }

    .trends {
        flex-wrap: wrap;
    }

    .card-trend {
        width: 100%;
        height: 217px;

        font-size: 8px;
    }

    .picture {
        max-width: 329px;

        margin-right: 0;
    }

    .title-post {
        font-size: 16px;
        line-height: 22px;
    }

    .date-author {
        line-height: 45px;
    }

    .post-text {
        line-height: 20px;
        font-size: 14px;
    }

    .post-text-second {
        font-size: 14px;
    }

    .side-bar {
        /*        margin: 0 auto 0 auto;*/
        width: 100%;
    }

    .title-side-h3 {
        font-size: 16px;

        margin-top: 8px;
        padding-left: 0;
    }

    .shop {
        display: flex;
        flex-wrap: wrap;

        justify-content: center;
    }

    .card-shop {
        margin-top: 5px;
        max-width: 285px;
        width: 100%;
    }

    .card-shop-content {
        height: auto;
        position: relative;

        top: -26px;
        padding-top: 26px;
        left: 8px;
    }

    .price-container {
        gap: 90px;
    }

    .buy {
        width: 128px;
    }

    .title-shop-h3 {
        font-size: 17px;
    }

    .shop-container {
        margin: 0 auto;
        gap: 20px;
    }

    .shop-text {
        line-height: 24px;
    }

    .container-footer {
        width: calc(100% - 30px);
        margin: 38px 15px 0 15px;
        padding-left: 0;
    }

    .popup-content {
        width: 70vw;
        max-width: 330px;
    }

    .trend-title {
        line-height: 20px;
    }

    .field {
        width: 100%;
    }

    .search-button {
        width: 42px;
    }

    .title-side-subscribe {
        margin-top: 38px;
    }

    .sub-button {
        width: 100%;
    }

    .title-side-tags {
        margin-top: 36px;
    }

    .categories {
        margin-top: 0;
    }

    .copyright {
        margin-top: 50px;
        margin-left: 10px;
    }

}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
    .title {
        margin: 0 auto;
        left: 0;
    }

    .trends {
        justify-content: space-around;
    }

    .card-trend {
        box-sizing: content-box;
        width: 18vw;
    }

    .card-trend-content {
        font-size: 5px;
        width: 75%;
    }

    .trend-category-box {
        gap: 4px;
    }

    .trend-category {
        font-size: 10px;
    }
}

@media (max-width: 640px) and (orientation: landscape) {
    .trends {
        justify-content: space-around;
    }

    .card-trend {
        width: 41%;
    }

    .card-trend-content {
        width: 75%;
    }

}